@font-face {
  font-family: ChaparralPro;
  src: url("/fonts/ChaparralPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: ChaparralPro;
  font-weight: bold;
  src: url("/fonts/ChaparralPro-Bold.otf") format("opentype");
}
@font-face {
  font-family: GoodHeadline;
  src: url("/fonts/Good-Headline-Regular.ttf") format("opentype");
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body{
  font-family: 'GoodHeadline', sans-serif;
  background-color: #F1EFE9;
}


/* -------- Site container -------- */

.container{
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
}
.toggle-btn{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 15;
  display: none;
  border: none;
  outline: none;
  border: 1px solid rgb(238, 238, 238);
  padding: 5px;
  cursor: pointer;
}
.toggle-btn img{
  height: 18px;
}

/* -------- Aside styling start -------- */
.aside{
  width: 227px;
  min-width: 227px;
  background-color: #FCFCFC;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  position: sticky;
  top: 0;
  transition: 0.3s all;
}
.aside .toggle-btn{
  position: absolute;
  right: 25px;
  left: auto;
  top: 15px;
  border: none;
  outline: none;
  background: transparent;
}
.aside .toggle-btn img{
  height: 18px;
}
/* -- brand logo styling -- */
.brand-logo{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url("/img/logoshadow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 40px 0;
  margin-bottom: 30px;
}
/* -- Nav styling -- */
.aside-nav{
  margin-bottom: 150px;
}
.aside-menu{
  list-style: none;
  text-align: center;
}
.aside-menu .nav-link{
  font-size: 26px;
  color: #000000;
  padding: 12px;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  position: relative;
  letter-spacing: 1.5px;
  transition: 0.3s all;
}
.aside-menu .nav-link.active{
  font-weight: bold;
}
.aside-menu .nav-link:hover{
  background-color: rgba(0, 0, 0, 0.04);
}
.aside-menu .nav-link::after{
  content: "";
  width: 100%;
  height:1px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("/img/line.png") center no-repeat;
  background-size: 100% 100%;
  opacity: 0.4;
}

/* -- social links styling -- */
.social-links{
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.social-links a{
  padding: 0 20px;
  display: block;
  transition: 0.3s all;
}
.social-links a:hover{
  opacity: 0.7;
}
/* -------- Aside styling end -------- */

/* -------- Main styling start -------- */
.main{
  width: 70%;
  flex: 1;
}
/* -- intro section styling -- */
.intro{
  width: 100%;
}
.intro .thumbnail{
  min-height: 368px;
  background: url("/img/homepagebannerimg.png") center no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  overflow: hidden;
}
.intro .thumbnail img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.intro .title{
  font-size: 70px;
  color: #ffffff;
  position: absolute;
  text-transform: uppercase;
  bottom: 20px;
}
.intro .content{
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 100px;
}
.intro p{
  font-size: 20px;
  margin-bottom: 30px;
  font-family: 'ChaparralPro', sans-serif;
}
.intro .more-btn{
  background-color: #FC8C15;
  color: #ffffff;
  border-radius: 5px;
  padding: 4px 22px;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
  transition: 0.3s all;
}
.intro .more-btn:hover{
  background-color: #E9861D;
}
/* -- slider section styling -- */
.slider-sec{
  background: url("/img/slidersectionbg.png");
  padding: 40px 100px;
  text-align: center;
}
.slider-sec .title{
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.slider-sec .slider{
  margin-bottom: 20px;
}
.owl-stage-outer{
  position: relative;
  border: 5px ridge#000000;
}
.slider-sec .arrow{
  position: absolute;
  background-color: #000000;
  padding: 13px;
  border-radius: 50px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.slider-sec .arrow img{
  max-width: 50px;
  height: auto;
  position: absolute;
}
.slider-sec .next{
  right: -10px;
  z-index: 5000;
}
.slider-sec .prev{
  left: -10px;
  z-index: 5000;
}
.slider-sec .owl-dot span{
  background:transparent !important;
  border: 2px solid;
}
.slider-sec .owl-dot.active span{
  background:#EC5207 !important;
}
.slider-sec .owl-dot:hover span{
  background:#EC5207 !important;
}
.slider-sec .content .title{
  font-size: 35x;
}
.slider-sec .content p{
  font-size: 18px;
  margin-bottom: 30px;
}
.slider-sec .content .btn{
  background-color: #FC8C15;
  color: #ffffff;
  border-radius: 5px;
  padding: 8px 22px;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
  transition: 0.3s all;
}
.slider-sec .content .btn:hover{
  background-color: #E9861D;
}
/* -- partner section styling -- */
.partner-sec{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.partner-sec .title{
  text-transform: uppercase;
  margin-bottom: 30px;
}
.partners{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 30px;
}
.partner-card{
  background: #ffffff;
}
.partner-card .thumbnail{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  width: 100%;
}
.partner-card .content{
  text-align: center;
  width: 100%;
  padding: 5px 20px 15px 20px;
}
.partner-card  .name{
  text-transform: uppercase;
}
.partner-card .partner-link{
  color: #959595;
}
.partner-sec .partner-btn{
  background-color: #FC8C15;
  color: #ffffff;
  border-radius: 5px;
  padding: 4px 22px;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
  transition: 0.3s all;
}
.partner-sec .partner-btn:hover{
  background-color: #E9861D;
}

/* -------- Main styling end -------- */
/* -------- footer styling end -------- */
.footer{
  background: url("/img/footerimg.png") center no-repeat;
  min-height: 330px;
  width: 100%;
  background-size: cover;
}
/* -------- footer styling end -------- */


/* -------- Responsive mobile view -------- */
@media(max-width:768px){
  .aside{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    margin-left: -227px;
    height: 100vmax;
    overflow-y: auto;
  }
  .aside.active{
    margin-left: 0px;
  }
  body.active{
    overflow: hidden;
  }
  .toggle-btn{
    display: block;
  }
  .slider-sec{
    padding: 40px 30px;
  }
  .partners{
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px 0;
    margin-bottom: 30px;
  }
  .intro .content{
    padding: 30px;
    text-align: justify;
  }
}
@media(max-width:375px){
  .slider-sec{
    padding: 40px 15px;
  }
  .partner-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15px;
  }
  .intro .content{
    padding: 30px 15px;
    text-align: justify;
  }
}